<!DOCTYPE html>
<html>
<head>
	<title>User</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="public/style.css" rel="stylesheet">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="public/app.js"></script>
</head>
<body class="container">
	<div class="row p-5">
		<h1>User</h1>
	</div>
	<div class="row p-5">
	<form method="post">
		<% if (type === 'bloodpressure') { %>
		<div class="form-group">
			<h2>Log Blood Pressure</h2>	
		</div>	
		<div class="form-group">
			<label for='systolic'>Systolic</label>
			<input type="text" name="systolic">
		</div>
		<div class="form-group">
			<label for='diastolic'>Diastolic</label>
			<input type="text" name="diastolic">
		</div>
		 <button type="submit" class="btn btn-primary">Submit</button>
		 <% } else if (type === 'bloodsugar'){ %>
		 	<div class="form-group">
		 		<h2>Log Blood Sugar</h2>
		 	</div>	
		 	<div class="form-group">
		 		<label for='bloodsugar'>Blood Sugar</label>
		 		<input type="text" name="bloodsugar">
		 	</div>
		 	<button type="submit" class="btn btn-primary">Submit</button>
		<% } else if (type === 'weight'){ %>
		 	<div class="form-group">
		 		<h2>Log Weight</h2>
		 	</div>	
		 	<div class="form-group">
		 		<label for='weight'>Weight</label>
		 		<input type="text" name="weight">
		 	</div>
		 	<button type="submit" class="btn btn-primary">Submit</button>
		<% }%>
	</form>	
	</div>
</body>
</html>